<!DOCTYPE html>
<html>
	<head> 
		
		<title> htmlMyWindow </title> <!--- Title of the page --->
		
		<meta charset = "UTF-8"> </meta> <!--- Converts ASCII to UTF-8 so it covers almost all characters and symbols in the world --->
		<meta name = "description" content = "HTML Tutorial"></meta> <!--- Displays a short description when searched --->
		<meta name = "keywords" content = "Travel,Free,Cheap"></meta> <!--- Words used to search this site--->
		<meta name = "author" content = "Im not giving you my name"></meta> <!--- Displays author of the page --->
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0"></meta> <!--- Sizes the page to scale for all devices--->
		
        <style>
            body
            {
                background-color: red;
            }
        </style>
	</head>
	
	<body>
        <p style = "color: white; font-size: 100px;">404.Not Found </p>
	</body>
</html>