<!DOCTYPE html>
<html>
	<head> 
		<title> Humble Beginnings Homepage</title> <!--- Title of the page --->
		
		<meta charset = "UTF-8"> </meta> <!--- Converts ASCII to UTF-8 so it covers almost all characters and symbols in the world --->
		<meta name = "description" content = "HTML Tutorial"></meta> <!--- Displays a short description when searched --->
		<meta name = "keywords" content = "Travel,Free,Cheap"></meta> <!--- Words used to search this site--->
		<meta name = "author" content = "Im not giving you my name"></meta> <!--- Displays author of the page --->
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0"></meta> <!--- Sizes the page to scale for all devices--->

	</head>
	
	<body>
        <!--Header-->
            <header>
                <h1>
                    Homepage
                </h1>
            </header>		

            <br/>

            <!--Footer-->
            <footer class = "container">
                This Page is copyrighted &#169; to me, 2021
            </footer>
	</body>
</html>