<!DOCTYPE html>
<html>
	<head> 
		
		<title>  </title> <!--- Title of the page --->
		
		<meta charset = "UTF-8"> </meta> <!--- Converts ASCII to UTF-8 so it covers almost all characters and symbols in the world --->
		<meta name = "description" content = "HTML Tutorial"></meta> <!--- Displays a short description when searched --->
		<meta name = "keywords" content = "Travel,Free,Cheap"></meta> <!--- Words used to search this site--->
		<meta name = "author" content = "Im not giving you my name"></meta> <!--- Displays author of the page --->
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0"></meta> <!--- Sizes the page to scale for all devices--->
		
	</head>
	
	<body>
		<form action = "/register" method = "post">
            First Name: <input type="text" name ="fname"/><br/>
            Last Name: <input type="text" name ="lname"/><br/>
            Phone: <input type="text" name ="phone"/><br/>
            <button type="submit">send</button>
        </form>
	</body>
</html>